<div align="center" >
  <div style="background-color: antiquewhite;">
  <h1>Welcome Admin</h1>


<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div>
          <button><a routerLink="/add-movie">Add Movie</a></button>
      </div>
      <br>

      <br><div>
          <button><a routerLink="/moviedetails">All Movies</a></button>
      </div><br>

      <br>
      <div>
          <button><a routerLink="/get-movie">Find Movie</a></button>
      </div><br>
    </div>
    </nav>
  </div>

<br/>
<router-outlet></router-outlet>
<router-outlet></router-outlet>
  </div>