<div>
    
        <form  #data="ngForm" (ngSubmit)="addMovie(data)" class="form-group">

                      
            <div>
                <label>Movie Name</label>
                <input type="text" class="form-control" name="movieName" ngModel #movieNameCtrl=ngModel
                    required>
                <div *ngIf="movieNameCtrl.errors!=null && movieNameCtrl.errors.required" class="error">
                   Movie Name is required
                </div>
            </div>

            <br>
            <div>
                <label>Movie Genre</label>
                <input type="text" class="form-control" name="movieGenre" ngModel
                    #movieGenreCtrl=ngModel required>
                <div *ngIf="movieGenreCtrl.errors!=null && movieGenreCtrl.errors.required" class="error">
                    Genre is required
                </div>
            </div>
            <br>
            <div>
                <label>Movie Director</label>
                <input type="text" class="form-control" name="movieDirector" ngModel #movieDirectorCtrl=ngModel
                    required>
                <div *ngIf="movieDirectorCtrl.errors!=null && movieDirectorCtrl.errors.required" class="error">
                    Director name is required
                </div>
            </div>
            <br>

            <div>
                <label>Movie Length</label>
                <input type="number" class="form-control" name="movieLength" ngModel
                    #movieLengthCtrl=ngModel required>
                <div *ngIf="movieLengthCtrl.errors!=null && movieLengthCtrl.errors.required" class="error">
                    Length required
                </div>
            </div>
            <br>
            <div class="form-group">
                <label>Release date</label>
                <input type="date" class="form-control" name="movieReleaseDate" ngModel #movieReleaseDateCtrl=ngModel required>
                <div *ngIf="movieReleaseDateCtrl.errors!=null && movieReleaseDateCtrl.errors.required" class="error">
                   Movie Release Date is required
                </div>
            
            </div>
            
               <div class="form-group">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="english" 
                 ngModel #englishCtrl=ngModel  required>
             
                <label class="form-check-label"> English</label>
              </div>
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="hindi" 
                ngModel #hindiCtrl=ngModel  required>
             
                 <label class="form-check-label">Hindi</label>
                 
                </div>
                </div>
           
            <div>
                <button type="submit" class="btn btn-success">Add Movie</button>
            </div>
        </form>

    </div>


 <div *ngIf="created==='created'">  
{{resultMsg}}
</div>


<div *ngIf="created==='notcreated'" class="error">  
    {{resultMsg}}
    </div>
    